  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 25px;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    padding: 10px;
    float: none;

  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
 canvas{
  border: 7px dashed green;
  margin-top: 150px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px red;
 }
 .copy_right_footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: blue;
  color: pink;
  line-height: 3;
  text-align: left;
 }
 .result_para_tag span{
  white-space: pre-line;
 }